body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Noto Serif JP', serif;
    /* background: linear-gradient(to bottom, #e0e9e5, #d5ebeb); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.vertical-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px; /* Set the width of the vertical bar */
    height: 100vh; /* Set the height to cover the entire viewport */
    background-color: #333; /* Set the background color of the vertical bar */
    z-index: 1000; /* Set a z-index to ensure the bar is above other content */
}

#navigation {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #000000;
    padding: 7px;
    color: #ffffff;
}

a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto del padre, o puedes establecer un color específico aquí */
    justify-content: center;
    font-size: 15px;
    padding: 30px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    margin-top: -200px;
}

#name_input {
    width: 300px;
    height: 30px;
    position: absolute;
    top: 20px;
    margin-top: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    background-color: #00000025;
}

#output {
    position: absolute;
    top: 20px;
    padding: 20px;
    font-size: 50px;
    background-color: #00000025;
    border-radius: 5px;
}

#translation {
    position: absolute;
    top: 20px;
    margin-top: 600px;
    padding: 20px;
    font-size: 50px;
    background-color: #00000025;
    border-radius: 5px;
}

#google_translate_element {
    position: fixed;
    right: 0;
    bottom: 0;
    /* top: 20px; */
    /* margin-top: 500px; */
    /* padding: 20px; */
    font-size: 50px;
    /* border-radius: 5px; */
    /* z-index: 1000; */
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
body {
    top: 0px !important; 
    }

button {
    position: relative;
    background-color: #000000;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #727272;
}

button:active {
    background-color: #474747;
}

iframe
{
    display: none !important;
    visibility: hidden !important;
}

@media (max-width: 768px) {
    /* Styles for screens smaller than 768px */
    body {
        font-size: 13px; 
    }

    button,
    a {
        padding: 10px 20px;
    }

    #name_input {
        margin-top: 350px;
    }
    
    #output {
        margin-top: 450px;
    }
}
